@model IEnumerable<ProjetoIntegrador_Subway.Models.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Categoria = "a";
}

<div class="row">
    <div class="col-md-6 col-centered">
        <center><h3>Pedido - Ingredientes</h3></center>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-5">
        <select class="form-control" name="tipoProduto" id="tipoProduto" onchange="myFunction()">
            @{
                foreach (var item in ViewBag.CategoriaP)
                {
                <option>@item</option>
        }
            }
        </select>

        <table class="table table-hover table-bordered" style="background-color: white !important" id="myTable">
            <tr>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.nomeProduto)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.valorProduto)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.tipoProduto)
                    </center>
                </th>
                <th></th>
            </tr>

            @{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomeProduto)
                    </td>
                    <td>
                        <center>
                            R$ @Html.DisplayFor(modelItem => item.valorProduto)
                        </center>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoProduto)
                    </td>
                    <td>
                        @Html.ActionLink("Adicionar ao lanche", "Edit", new { id = item.ID })
                    </td>
                </tr>
                }
            }




        </table>
        
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Visualização do pedido</div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
<h2>aaa @ViewBag.Categoria</h2>
<script type="text/javascript">
    function myFunction() {
        var filter, table, tr, td, i;
        filter = document.getElementById("tipoProduto").value;
        alert(filter);
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
