@model IEnumerable<ProjetoIntegrador_Subway.Models.Pedido>

@{
    /**/

    ViewBag.Title = "TodosPedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-centered">
        <center><h3>Todos os pedidos</h3></center>
    </div>
</div>

<table class="table table-hover table-bordered" style="background-color: white !important">
    <tr>
        <th>
            <center>
                @Html.DisplayNameFor(model => model.ID)
            </center>
        </th>
        <th>
            <center>
                @Html.DisplayNameFor(model => model.dataPedido)
            </center>
        </th>
        <th>
            <center>
                Tipo de pagamento
            </center>
        </th>
        <th>
            <center>
                @Html.DisplayNameFor(model => model.valorTotal)
            </center>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.ID)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.dataPedido)
                </center>
            </td>
            @if (item.CEP == null)
            {
            <td>
                Dinheiro
            </td>
            }
            else
            {
                <td>
                    Cartão
                </td>
            }
            <td>
                <center>
                    R$ @Html.DisplayFor(modelItem => item.valorTotal)
                </center>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="ModalIng" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes do pedido</h5>
                <button type="button" class="close" style="margin-top: -19px" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: -webkit-center">
                <form>
                    <div class="form-group">
                        <label for="cep" class="col-form-label">CEP:</label>
                        <input type="text" class="form-control" id="cep">
                    </div>
                    <div class="form-group">
                        <label for="numero" class="col-form-label">Número:</label>
                        <input class="form-control" id="numero">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="concluirCartao();">Concluído</button>
            </div>
        </div>
    </div>
</div>
