@model ProjetoIntegrador_Subway.Models.RegisterViewModel
@{
    ViewBag.Title = "Cadastro";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6 col-centered">
            <center><h3>Cadastrar novo funcionário ou cliente</h3></center>
        </div>
    </div>

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <center>
                    <img src="~/Imagens/if_business-work_14_2377634.png" style="width:57%; margin-left: 87px;   " />
                </center>
            </div>
        </div>
        <div class="col-md-3 col-centered">
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control mBottom", @placeholder = "Email" })

                @Html.PasswordFor(m => m.Password, new { @class = "form-control mBottom", @placeholder = "Senha" })

                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mBottom", @placeholder = "Confirmar Senha" })

                @Html.DropDownList("Name", null, new { @class = "form-control mBottom" })

                <center>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Cadastrar" />
                    </div>
                </center>

            </div>
            @*<img src="~/Imagens/Subway.png" style="width: 50%; margin-top: 20px; margin-right: 10px; margin-left: 30%" />*@
        </div>
        <hr />
        <table class="table table-hover table-bordered" style="background-color: white !important">
            <tr>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Email)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Name)
                    </center>
                </th>
            </tr>
            @{
            Dictionary<object, object> lista = (Dictionary<object, object>)ViewBag.Users;
            foreach (var item in lista)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                </tr>

        }
            }
        </table>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
